@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../font/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url("../font/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
  }
  
  /* :root {
      color-scheme: light dark;
  } */
  
  /**/
  
  html {
      /* main colors */
      --color-red: rgba(227,67,61, 100%);
      --color-black: rgba(0,1,0, 100%);
      --color-gray: rgba(108,117,125, 100%);
      --color-gray-light: rgba(108,117,125, 20%);
      --color-gray-shadow-active: rgba(0,1,0, 12%);
      --color-white: rgba(255,255,255, 100%);

      /* color buttons */
      --button-default: rgba(227,67,61, 100%);
      --button-hover: rgba(244,96,92, 100%);
      --button-pressed: rgba(201,27,20, 100%);
      --button-disabled: rgba(189,189,189, 100%);
      --secondary-button-default: rgba(2,30,31, 100%);
      --secondary-button-hover: rgba(244,96,92, 100%);
      --secondary-button-pressed: rgba(201,27,20, 100%);
      --secondary-button-disabled: rgba(189,189,189, 100%);

      /* color text */
      --text-color-light: rgba(108,117,125, 100%);
      --text-color-bolder: rgba(92,92,92, 100%);
      /* color background */
      --background-color-prefooter: rgba(249,249,249, 100%);
      --background-color-normal: rgba(255,255,255, 100%);
      --media-filter: none;
      font-family: "Montserrat-Regular", Arial, sans-serif;
  }
  
  /**/
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .margin-right {
    margin-right: 2.5vw;
  }
  
  .margin-right-5 {
    margin-right: 5px;
  }
  
  .margin-right-16 {
    margin-right: 16px;
  }
  
  .margin-right-24 {
    margin-right: 24px;
  }
  
  .margin-right-32 {
    margin-right: 32px;
  }
  
  .margin-left_last {
    margin-left: auto;
  }
  
  .margin-bottom-16 {
    margin-bottom: 16px;
  }
  
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  
  html {
    font-size: 14px;
    background-color: var(--background-color-normal);
  }
  
  body {
    height: 100%;
    line-height: 1;
    overflow-x: hidden;
    background-color: var(--background-color-normal);
    color: var(--text-color-normal);
  }
  
  a:active,
  a:hover {
    outline: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  * {
    outline: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span,
  a {
    font-family: "Montserrat-regular", Arial, Helvetica, sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--text-color-normal);
  }
  
  h1 .font-bolt,
  h2 .font-bolt,
  h3 .font-bolt,
  h4 .font-bolt,
  h5 .font-bolt,
  p .font-bolt,
  span .font-bolt,
  a .font-bolt {
    font-family:"Montserrat-regular", Arial, Helvetica, sans-serif;
  }